

.category_count {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(99, 112, 103);
  font-size: 16px;
  /* border: 1px solid black; */
}
.category_count p {
  margin-left: 5px;
}

.center {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 2px;
  font-size: 16px;
  /* border: 1px solid red; */
}

@media (max-width: 1308px){
   .center {
      /* border: 1px solid red; */
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}


.results_message {
  width: 100% !important;
  height: 100% !important;
  margin: auto;
  color: rgb(161, 161, 161);
}
.center_2 {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.products_block h3{
  width: 100%;
  text-align: center !important;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 10px;
  /* border: 3px solid rgb(0, 119, 255); */
}

