.product_detail_root {
   width: 100%;
   height: auto;
   /* border: 1px solid red !important; */
   padding: 20px 30px 60px 50px;
   display: flex;
   flex-direction: column;
   align-items: start;
   margin:  70px auto;
   background-color: #ECECEC;
 }
 .top_content {
   width: 90%;
   /* border: 2px solid rgb(93, 121, 93); */
 }


 .product_detail_root h1 {
   margin: 40px 0px 30px 0px;
   text-align: center;
   border: 1px солидный rgb(121, 121, 121);
 }
.property_details_content{
  border: 1px solid rgb(180, 180, 180);
  background-color: white;
  width: 52%;
  height: auto !important;
  margin-left: 30px;
  font-size: 16px;
  border-radius: 15px;
  padding: 10px 10px 10px 20px;
}
 .slider_root {
   max-width: 800px;
   position: relative;
   height: auto;
   margin: auto;
 }

 .slider_block {
   margin: 0; 
   padding: 0; 
 }

 .image_block {
   width: 100%;
   position: relative;
   height: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 5px rgb(255, 197, 7);
 }
 
 .image_block img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
 }

 .zoom_icon {
   position: absolute;
   bottom: 30px;
   left: 51%;
   transform: translateX(-50%);
   cursor: pointer;
 }
 
 .zoom_svg_icon {
   width: 45px;
   height: 45px;
   fill: #ffffff73;
   cursor: pointer;
   transition: 0.2s;
 }
 
 .zoom_svg_icon:hover {
   fill: #ffffff;
   transform: scale(1.2);
 }

 .slick-prev,
.slick-next {
  width: 70px !important; 
  height: 80% !important;
  z-index: 1;
  position: absolute;

  background-color: rgba(218, 218, 218, 0.212) !important;
  border: none !important;
  border-radius: 10px;
  transition: 200ms !important;
}

.prev-arrow:hover {
  background-color: rgba(218, 218, 218, 0.418) !important;
}
.next-arrow:hover {
  background-color: rgba(218, 218, 218, 0.418) !important;
}

.slick-prev {
  margin-left: 25px;
  transition: 200ms !important;
}

.slick-next {
  margin-right: 25px;
  transition: 200ms !important;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.custom-arrow svg {
  width: 100%;
  height: 100%;
  fill: gray;
  transition: 100ms;
}

.custom-arrow:hover svg {
  fill: rgb(182, 178, 178);
}


.slick-dots {
  position: absolute;
  height: 50px;
  top: 89%;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0;
  list-style: none;
}

.slick-dots li button {
  font-size: 0; 
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.slick-dots li button:before {
  font-size: 0;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #bbb; 
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.slick-dots li.slick-active button:before {
  background-color: #717171; 
  transform: scale(1.1);
  font-size: 0;
  border: 1px solid black;
}



.slick-prev svg:hover {
  fill: rgb(224, 224, 224);
}
.slick-next svg:hover {
  fill: rgb(224, 224, 224);
}

 .property-info-item span{
  width: 300px !important;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(206, 204, 204) !important;
  margin: 2px;
  padding-right: 20px;
  color: rgb(65, 65, 65);

}
 .property-info-item {
margin: 7px;
}