.root {
  position: relative;
  top: 0;

  height: auto;
  width: 100%;
}
.mapView {
  width: 100%;
  margin: auto;
  position: relative;
  height: 200px;
  background: url("../../../assets/images/map.png") no-repeat center center;
  background-size: cover;
  margin-bottom: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden; 
}

.mapView::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(88, 88, 88, 0.5), rgba(255, 255, 255, 0.2));
  border-radius: 5px;
  z-index: 1; 
}



.mapView span {
  background-color: red;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #2a878b;
  color: white;
  transition: 100ms;
}
.mapView span:hover {
  box-shadow: 0px 0px 8px rgb(138, 138, 138);
  color: rgb(240, 240, 240);
}

.products_block {
  width: auto;
  min-height: 700px;
  padding: 30px 10px !important;
  border-radius: 14px;
  overflow: hidden;
  background: none;
  border-radius: 15px;
  background: #b9d1bdad;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3001 !important;
}
.products_container {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 10px;
}

.products_block h2 {
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}
.view_toggle {
  width: auto;
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
}

.view_toggle .view_icon {
  cursor: pointer;
  font-size: 1.3em;
  margin: 0 4px;
  color: #1c5a5c;
  transition: color 0.3s;
}

.view_toggle .view_icon.active {
  color: #5d7e73;
}

.view_toggle .view_icon:not(.active):hover {
  color: #236f72;
}

.products_container.grid_view {
  display: flex;
  flex-wrap: wrap;
}
.list_view {
  display: block;
}

.list_view .product_card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 100% !important;
  overflow: hidden;
}
.list_view .product_images {
  overflow: hidden;
  width: 280px !important;
  height: 185px !important;
}

.list_view .product_images img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.list_view .bottom_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 18px;
}
.list_view .product_card:hover > .bottom_content {
  background-color: #E6F3EF;
  border-radius: 0px 10px 10px 0px;
}
.map_container {
  width: 800px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px auto;
  border: 1px solid rgb(209, 208, 208);
}

.products_container .product_card {
  border-radius: 10px;
  margin: 5px;
  width: auto;
  background-color: #d3dfdb;
  cursor: pointer;
}

.product_card_sceleton{
  border-radius: 10px;
  margin: 5px;
  width: auto;
  background-color: #829D8D;
  cursor: pointer;
}
.bottom_content {
  padding: 10px;
}

.product_card.product_images {
  overflow: hidden;
  width: 250px;
  height: 180px;
  position: relative;
  z-index: 1000 !important;
  border-radius: 7px 7px 0px 0px;
}

.product_card .product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1000 !important;
  border-radius: 7px 7px 0px 0px;
}

.product_card button {
  width: auto;
  background-color: #2a878b;
  color: white;
  border-radius: 5px;
  border: 1px solid #2a878b;
  padding: 10px 12px;
  transition: 100ms;
  margin-top: 10px;
  cursor: pointer;
}
.product_card button:hover {
  background-color: white;
  color: #2a878b;
  font-weight: 500;
}
.product_title {
  width: 100%;
  border-bottom: 1px solid rgb(196, 195, 195);
}

.product_address {
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(196, 195, 195);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #2a878b;
  color: white;
}

.pagination button:disabled {
  background-color: #e0e0e059;
}

.skeleton {
  border-radius: 10px;
}

.search_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search_container input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
}

.search_container button {
  height: 50px;
  padding: 10px 15px;
  border: none;
  background-color: #2a878b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.search_container button:hover {
  background-color: #1e5f63;
}

.products_block {
  width: auto;
  padding: 30px 0px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}
.products_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-top: 10px;
}

.products_block h2 {
  text-align: center;
  border-radius: 8px;
}

.map_container {
  width: 800px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px auto;
  border: 1px solid rgb(209, 208, 208);
}

.product_card {
  border-radius: 10px;
  margin: 5px;
  width: auto;
  transition: 100ms;
  background-color: white;
}
.bottom_content {
  transition: 100ms;
}
.product_card:hover > .bottom_content {
  background-color: #E6F3EF;
  border-radius: 0px 0px 10px 10px;
}
.product_card:hover > .product_images {
  transform: scale(1.01);
  transition: 200ms;
}
.product_images {
  overflow: hidden;
  width: 250px;
  height: 200px;
  position: relative;
  z-index: 999 !important;
}

.product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  position: relative;
  z-index: 999 !important;
}

.product_card button {
  width: auto;
  background-color: #2a878b;
  color: white;
  border-radius: 5px;
  border: 1px solid #2a878b;
  padding: 10px 12px;
  transition: 100ms;
  margin-top: 10px;
  cursor: pointer;
}
.product_card button:hover {
  background-color: white;
  color: #2a878b;
  font-weight: 500;
}
.product_title {
  width: 100%;
  border-bottom: 1px solid rgb(196, 195, 195);
}

.product_address {
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(196, 195, 195);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #2a878b;
  color: white;
}

.pagination button:disabled {
  background-color: #e0e0e059;
}

/* Skeleton */
.skeleton {
  border-radius: 10px;
}

/* Search Component */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  transition: 100ms;
}

.search-container input:focus {
  border-color: #2a878b;
  outline: 0;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}
.search-container button {
  height: 50px;
  padding: 10px 15px;
  border: none;
  background-color: #2a878b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.search-container button:hover {
  background-color: #1e5f63;
}

.dimmed::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: rgba(22, 44, 35, 0.699);
  z-index: 2000 !important;
}

.dimmed .search-container {
  z-index: 2900 !important;
  position: relative;
}

.no_results_message {
  border-radius: 10px;
  padding: 10px 10px;
  color: #1e5f63;
  border: 1px solid #1e5f63;
  margin: auto;
  font-size: 19px;
}

.results_message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  margin: auto;
  font-size: 17px;
  margin-bottom: 20px;
  color: #2a878b;
}
.results_message span {
  border: 1px solid rgb(139, 139, 139);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}
