.root {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
  font-size: 16px;
}
.mapView {
  width: 100%;
  margin: 30px auto;
  position: relative;
  height: 200px;
  background: url("../../../assets/images/map.png") no-repeat center center;
  background-size: cover;
  margin-bottom: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(133, 133, 133, 0.5);
  overflow: hidden;
  transition: 200ms !important;
}
@media (max-width: 1308px) {
  .mapView {
    height: 160px;
    margin-top: 30px;
  }
}

.mapView::before {
  content: "";
  position: absolute;
  transition: 200ms !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(209, 209, 209, 0.575),
    rgba(236, 236, 236, 0.2)
  );
  border-radius: 5px;
  z-index: 1;
}
.mapView:hover {
  box-shadow: 0px 0px 15px rgb(155, 155, 155);
  transition: 200ms;
}

.mapView span {
  background-color: red;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #2a878b;
  color: white;
  transition: 100ms;
}
.mapView span:hover {
  box-shadow: 0px 0px 8px rgb(138, 138, 138);
  color: rgb(240, 240, 240);
}

.products_block {
  /* border: 1px solid red; */
  width: 810px !important;
  min-height: 700px;
  padding: 10px 10px !important;
  border-radius: 14px;
  overflow: hidden;
  background: none;
  border-radius: 15px;
  background: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3001 !important;
}
.products_container {
  border: 1px solid red;
  display: flex;
  width: auto !important;
  flex-wrap: wrap;
}


.products_block h2 {
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid red;
}



.map_container {
  width: 800px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px auto;
  border: 1px solid rgb(209, 208, 208);
}

.product_card_sceleton {
  border-radius: 10px;
  margin: 5px;
  width: auto;
  background-color: #829d8d;
  cursor: pointer;
}
.bottom_content {
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #2a878b;
  color: white;
}

.pagination button:disabled {
  background-color: #e0e0e059;
}

.skeleton {
  border-radius: 10px;
  margin: 2px;
}

.search_container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px !important;
}

.search_container input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
}

.search_container button {
  height: 50px;
  padding: 10px 15px;
  border: none;
  background-color: #2a878b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.search_container button:hover {
  background-color: #1e5f63;
}

.products_block {
  width: auto;
  padding: 30px 0px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}
.products_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.products_block h2 {
  text-align: center;
  border-radius: 8px;
}

.map_container {
  width: 800px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px auto;
  border: 1px solid rgb(209, 208, 208);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #2a878b;
  color: white;
}

.pagination button:disabled {
  background-color: #e0e0e059;
}

/* Skeleton */
.skeleton {
  border-radius: 10px;
}

/* Search Component */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-container input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  transition: 100ms;
}

.search-container input:focus {
  border-color: #202020;
  outline: 0;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}
.search-container button {
  height: 50px;
  padding: 10px 15px;
  border: none;
  background-color: #2a878b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.search-container button:hover {
  background-color: #1e5f63;
}
/* 
.dimmed::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: rgba(110, 110, 110, 0.603);
  z-index: 2000 !important;
}

.dimmed .search-container {
  z-index: 2900 !important;
  position: relative;
} */

.no_results_message {
  border-radius: 10px;
  padding: 10px 10px;
  color: #1e5f63;
  border: 1px solid #1e5f63;
  margin: auto;
  font-size: 16px;
 
}

.results_message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  font-size: 16px;
  margin-bottom: 20px;
  color: #2a878b;
  border: 1px solid red !important;
}
.results_message span {
  border: 1px solid rgb(139, 139, 139);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}
.center{
  position: relative;
  border: 2px solid rgb(255, 0, 242) !important;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.sort_selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 16px;
  margin-right: 5px;
  border: 1px solid red;
}
.sort_selector label {
  white-space: nowrap;
  margin-right: 5px;
  font-size: 16px;
}
