.select_category {
   margin: 150px auto;
   width: 80%;
   height: auto;
   text-align: start;
   font-size: 16px;
 }
 
 .select_category h1 {
   margin: 20px;
   color: rgb(104, 104, 104);

 }
 
 .select_category ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   border-radius: 15px;
   padding: 30px;
   background-color: #e9e8e8;
 }
 
 .select_category ul li {
   margin: 5px;
 }
 
 .select_category ul li a {
   transition: 100ms;
   text-decoration: none;
   color: black;
   font-size: 16px;
   border: 1px solid rgb(255, 255, 255);
   padding: 10px 10px 12px 12px;
   border-radius: 6px;
   background-color: #ffffff;
 
   display: flex;
 }
 
 .select_category ul li a:hover {
   background-color: #2a878b;
   border-color: #2a878b;
   color: white;
   
 }
 